/*removes all preset margin and padding and makes window scale properly*/
body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

body {
  /* Background pattern from Subtle Patterns */
  background: url("../img/gaming-pattern.png");
  max-width: 100%;
}

/* header*/
@font-face {
  font-family: 'floatysmall';
  src: url('fonts/floatysmall-webfont.woff2') format('woff2'),
    url('fonts/floatysmall-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

header {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'floatysmall', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

#name {
  font-family: inherit;
}

#second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* end header */
/* body */
.front {
  width: 30%;
}

/* front page */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectGroup {
  max-width: 80%;
  margin: .5em;
  border: 1px solid #a2a2a2;
  -webkit-box-shadow: 0 0 14px 0 black;
  -moz-box-shadow: 0 0 14px 0 black;
  box-shadow: 0 0 14px 0 black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.main_img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.projectGroup:hover {
  background-color: black;
}

.main_img:hover {
  opacity: 0.8;
}

.bottomleft {
  align-self: flex-start;
}

/*end front page*/
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
}

.pageLeft {
  display: flex;
  flex-direction: column;
  max-width: inherit;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: inherit;
}

.shots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: none;
}

.avatar {
  max-width: 100%;
  margin: 1em 0;
}

.outlinks {
  height: 75px;
  width: auto;
  margin: .5em;
}

#pdf_link {
  margin: .5em;
  align-self: center;
  font-size: 28px;
}

#aboutme {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.5em;
}

.page {
  margin: 1em auto;
}

.shot {
  padding: .5em;
  max-height: 100%;
  max-width: 100%;
}

.about {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .projectGroup {
    max-width: 20%;
  }

  .company {
    width: 30%;
    height: 30%;
    max-width: 100%;
  }

  .page {
    align-items: flex-start;
    max-width: 85%;
    display: flex;
    flex-direction: row;
  }

  .pageLeft {
    max-width: 50%
  }

  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .links {
    align-self: center;
  }

  .shots {
    max-height: 200vh;
    flex-wrap: wrap;
  }

  .shot {
    max-height: 60vh;
    max-width: 95%;
  }
}
