<a href="{{site.baseurl}}{{include.game.url}}">
    <div class="button-container">
        <div
            class="game-button"
            {% if include.game.buttonColor %}
                style="filter: drop-shadow(0px 6px 0px {{include.game.buttonColor | color_to_rgb}} );"
            {% endif %}
        >

            <img src="/assets/buttons/game_button_0{{include.id}}.png" />
            <div class="game-button-background game-button-{{include.id}}" style="background-image: url({{include.game.background}});">
                <img src="{{include.game.logo}}" />
                <div class="game-button-logo">
                    
                </div>
            </div>
            
        </div>
        {% if include.franchise != false and include.game.links.steam %}
                <a href="{{include.game.links.steam}}">Download {{include.game.title}} on Steam</a>
        {% endif %}
    </div>
</a>