{% include link-icon.html black=include.black link=include.links.web icon="web" tooltip="Website" %}
{% include link-icon.html black=include.black link=include.links.github icon="github" tooltip="Github" %}
{% include link-icon.html black=include.black link=include.links.twitter icon="twitter" tooltip="Twitter" %}
{% include link-icon.html black=include.black link=include.links.bluesky icon="bluesky" tooltip="Bluesky" %}
{% include link-icon.html black=include.black link=include.links.instagram icon="instagram" tooltip="Instagram" %}
{% include link-icon.html black=include.black link=include.links.facebook icon="facebook" tooltip="Facebook" %}
{% include link-icon.html black=include.black link=include.links.youtube icon="youtube" tooltip="Youtube" %}
{% include link-icon.html black=include.black link=include.links.tiktok icon="tiktok" tooltip="TikTok" %}
{% include link-icon.html black=include.black link=include.links.steam icon="steam" tooltip="Steam" %}
{% include link-icon.html black=include.black link=include.links.itch icon="itch" tooltip="itch.io" %}
{% include link-icon.html black=include.black link=include.links.newgrounds icon="newgrounds" tooltip="Newgrounds" %}
{% include link-icon.html black=include.black link=include.links.gamejolt icon="gamejolt" tooltip="Gamejolt" %}
{% include link-icon.html black=include.black link=include.links.gxgames icon="gxgames" tooltip="GX.Games" %}
{% include link-icon.html black=include.black link=include.links.twitch icon="twitch" tooltip="Twitch" %}
{% include link-icon.html black=include.black link=include.links.bandcamp icon="bandcamp" tooltip="Bandcamp" %}
{% include link-icon.html black=include.black link=include.links.spotify icon="spotify" tooltip="Spotify" %}
{% include link-icon.html black=include.black link=include.links.apple icon="apple" tooltip="Apple Music" %}
{% include link-icon.html black=include.black link=include.links.googlePlay icon="googlePlay" tooltip="Google Play" %}
{% include link-icon.html black=include.black link=include.links.xbox icon="xbox" tooltip="Xbox" %}
{% include link-icon.html black=include.black link=include.links.discord icon="discord" tooltip="Discord" %}